@font-face {
  font-family: "Calculator";
  src: url("digital-7.ttf");
}

body {
    background-image: url("bg.jpg");
  }

  div.calculadora {
    background: rgb(111, 167, 185);
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 500px;
    border-radius: 25px;
  }

  p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 30px;
    font-family: "Calculator";
    font-weight: bold;
  }
  button {
    width: 62px;
    height: 62px;
    font-family: Arial;
    font-size: 20px;
    border-radius: 5px;
  }
  button.operador {
    font-weight: bold;
    color: #b00;
  }

  #display {
    background-color: #a4af95;
    color: #467702;
    border-radius: 25px;
    display: block;
    text-align: right;
    font-size: 40px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    border: 3px solid rgb(0, 0, 0);
    font-family: "Calculator";
  }

  