body  {
    /* Ubicación de la imagen de fondo */
    background-image: url(FONDO1.webp);
    /* Para centrar la imagen */
    background-position: center center;
    /* Para que se reescale automaticamente con el navegador */
    background-size: cover;
    }
    
    /* Estilo del Encabezado1*/
    h1  {
      font-size: 50px;
      color: rgb(0, 0, 0);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-bottom: 0px;
    }
    
    /* Estilo para la parte de la izquierda */
    .izquierda  {
      float: left;
      border-top: 25px;
      text-align: center;
      width: 30%;
      border-radius: 25px ;
      background-color: rgba(205,205,205,0.55);
    }
    
    /* Estilo de los títulos de las secciones */
    .Secciones  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 28px;
      color: black;
      text-align: center;
      margin-bottom: 0px;
    }
    
    /* Estilo de los Encabezado3 */
    .h3-izq {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: underline black;
      font-size: 16px;
      color: black;
      text-align: left;
      margin: 8px;
    }
    
    /* Estilo del texto */
    .texto-izq  {
      font-size: 18px;
      color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: left;
      margin: 16px;
     
      list-style-type: none;
      padding: 12px;
      margin: 9px;
    }
    
    /* Estilo de los títulos de las secciones */
    .derecha  {
      float: right;
      border-top: 25px;
      text-align: center;
      width: 68%;
      border-radius: 25px ;
      background-color: rgba(205,205,205,0.55);
      }
    
      /* Estilo de los Encabezado3 */
    .h3-derecha-1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      text-align: center;
      color: black;
  
      }
    
    .texto-derecha  {
      font-size: 19px;
      color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: justify;
      margin: 16px;
      list-style-type: none;
      }
    
      /* Estilo de los Encabezado3 */
    .h3-derecha-2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
      text-align: center;
      color: black;
      }

       /* Gifs de la derecha */
    .D_right_gif {
      float: right;
      border-top: 25px;
      text-align: center;
      width: 30%;
      border-radius: 25px ;
      background-color: rgba(205,205,205,0.02);
      margin-right: 155px;
    }

    /* Gifs de la izquierda */
    .D_left_gif {
      float: left;
      border-top: 25px;
      text-align: center;
      width: 30%;
      border-radius: 25px ;
      background-color: rgba(205,205,205,0.02);
      margin-left: 155px;
    }