body {
    background-color: pink;
  }

  #imagesrc {
    display:none;
  }

  input{
    height: 40px;
    width: 120px;
    font-weight: bolder;
    color:black;
    border-radius: 20px;
    border-color: rgb(227, 230, 75);
    background-color: rgb(226, 233, 190);
}