
canvas {
  background-color: black;
  display: block;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 5px;
  margin-left: 500px;
}

body  {
  background-color: black;
  /* Ubicación de la imagen de fondo */
  background-image: url(fon3.jpg);
  /* Para centrar la imagen */
  background-position: center center;
  /* Para que se reescale automaticamente con el navegador */
  background-size: cover;
  background-repeat: no-repeat;
 
  }
